.principal{
  background: #f5f3f3;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  /* padding-top: 1px; */
  padding-bottom: 1px;
  position: relative;

}
.corpo-login{
  background-image: url('../../imgSistema/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.cabecalho-home{
  background-image: url('../../imagem/cabecalho.jpg');
  background-size: cover;
  height: 150px;
}

.bg-neutralize{
  background: #8dc63f;
  color: #fff;
}

.sombra{
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
}

.bg-primary{
	color: #fff !important;
}

.container-full {
  /* border: #000 1px solid;  */
  padding-top: 100px;
  height: 90vh;
}

.container-full .card{
  width: 70%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

input {
  margin: 10px 0px !important;
}


.titulo-header{
  font-size: 3rem !important;
  color:#fff;
}

.cartao-lista{
  min-width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 10%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.cartao-lista-controle{
  padding: 10%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5%;
  margin-top: 10%;
  width: 70%;
  text-align: center; 
  font-size: .9em
}


.cartao-lista-controle .fas, .cartao-lista-controle .far{
  font-size: 2.8rem !important;
}

.download{
  background: #f5f3f3;
  text-align: center;
  border-radius: 10px;
}

.download span{
  font-size: 1.5em;
  display: inline-block;
  padding: 5%;
  
}

.footer{
  position: absolute;
  border-top: #8dc63f 2px solid;
  background: #0095da;
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0
}

.footer div p{
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.logo-controle{
  width: 10%
}
.logo-controle img{
  width: 100%;
}


/* ======================================================================================== */
@media screen and (max-device-width: 812px) {
  .container-full {
    /* border: #000 1px solid;  */
    padding-top: 0px;
    height: 100vh;
  }

  .container-full .card{
    width: 100%;
  }

  .cartao-lista-controle{
    padding: 7%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5%;
    margin-top: 5%;
    width: 100%;
    text-align: center; 
  }

  .cabecalho-home{
    height: 50px;
  }

  .cabecalho-home figure{
    width: 150px;
  }

  .cabecalho-home figure img{
    width: 100%;
  }
 
}




/* ======================================================================================== */

@media screen and (min-device-width: 568px) and (max-device-width: 960px) {
  
  .cartao-lista-controle{
    padding: 4%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5%;
    margin-top: 5%;
    width: 100%;
    text-align: center; 
  }
  .cartao-lista-controle .fas, .cartao-lista-controle .far{
    font-size: 2.0rem !important;
  }

  .cabecalho-home figure{
    width: 100px;
    /* margin: 5px auto !important; */
    
  }

  .cabecalho-home figure img{
    width: 100%;
  }
  
  
}

/*==============================================================================================*/

@media screen and (min-device-width: 320px) and (max-device-width: 568px) {

  .cabecalho-home{
    height: 180px;
    
  }

  .cabecalho-home figure{
    width: 200px;
    margin: 5px auto !important;
    
  }

  .cabecalho-home figure img{
    width: 100%;
  }
  
}

@media screen and (max-device-width: 390px){
  .table{
    font-size: .8em;
  }
}